<div class="footers">
    <div class="info">
        <p class="informacion">Realizdo por: J.Rostan</p>
    </div>
    <div class="nets">
        <a href="mailto:rostanjavier@gmail.com.com?&subject=Consulta%20desde%20Porfolio&body=Estimado%20Javier:" class="icono mail" target="_blank">
            <i class="fa-solid fa-square-envelope"></i>
        </a>
        <a href="https://www.linkedin.com/in/javier-rostan/" class="icono linkedin" target="_blank">
            <i class="fa-brands fa-linkedin"></i>
        </a>
        <a href="https://www.facebook.com/javier.rostan" class="icono facebook" target="_blank">
            <i class="fa-brands fa-facebook"></i>
        </a>
        <a href="https://github.com/Jrostan" class="icono github" target="_blank">
            <i class="fa-brands fa-github"></i>
        </a>
        <a href="https://www.instagram.com/javi_rostan/" class="icono insta" target="_blank">
            <i class="fa-brands fa-square-instagram"></i>
        </a>
    </div>
</div>