<form class="formulario-completo" (ngSubmit)="onUpdate()">
    <div class="form-cap-control">
        <label for="titulo">Titulo:</label>
            <input type="text" name="titulo" id="titulo" placeholder="Intrudusca titulo de formacion"
            [(ngModel)]="cap.titulo"
            >
    </div>
    <div class="form-cap-control descripcion">
        <label for="descripcion">Descripcion</label>
        <textarea name="descripcion" id="descripcion" placeholder="Intrudusca la descripcion"
            wrap="hard"
            [(ngModel)]="cap.descripcion"></textarea>
    </div>
    <div class="form-cap-control">
        <label for="formador">Formador:</label>
            <input type="text" name="formador" id="formador" placeholder="Donde realizo la capacitacion?"
            [(ngModel)]="cap.formador"
            >
    </div>
    <div class="form-cap-control">
        <label for="logo">Logo del formador:</label>
            <input type="text" name="logo" id="logo" placeholder="URl logo..."
            [(ngModel)]="cap.urlLogo"
            >
    </div>
    <div class="form-cap-control enviar">
        <label for="enviar"></label>
            <input type="submit" name="enviar" id="enviar" value="Editar">
    </div>
</form>