.formulario-completo{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    background-color: silver;
}

.form-cap-control{
    display: flex;
    align-items: center;
}

label{
    text-decoration: underline;
    font-size: large;
}

input{
    margin-left: 0.25rem;
}