

#contenedor-habilidades{

    margin-top: 3rem;

    --tecnologia: "ala";
    --habilidad: "44%";
    --avancePos: 45deg;
    --avanceNeg: -45deg;
    --colorBaraFuerte: silver;
    --colorBaraDebil: blue;
    display: flex;
}

#html.barras-de-progreso-circular{
    height: var(--altocaja, 12rem);
    width: var(--anchocaja, 12rem);
    margin: auto;
    border-radius: 50%;
    background: linear-gradient(
        0deg,
        var(--colorBaraFuerte) 50%,
        var(--colorBaraDebil) 50%
    );
    position: relative;
    transform: rotate(var(--avancePos));
}

#html.barras-de-progreso-circular:before{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    content: var(--tecnologia);
    background: content-box var(--colordefondo);
    padding: 0.5em;
    box-sizing: border-box;
    font-size: 2rem;
    text-align: center;
    line-height: 8rem;
    color: var(--colorcontraste);
    transform: rotate(var(--avanceNeg));
}

#html.barras-de-progreso-circular:after{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    content: var(--habilidad);
    background: linear-gradient(
        transparent 50%,
        var(--colordefondo) 50%
    );
    color: var(--colorcontraste);
    text-align: center;
    line-height: 13rem;
    transform:scale(1.1) rotate(var(--avanceNeg));
}
.delete{
    display: block;
    position: relative;
    top: 0px;
    right: 0px;
    z-index: 10;
}

.cruz{
    color: red;
}

.cruz:hover{
    color: white;
    background-color: red;
    border: solid 0px red;
    border-radius: 50%;
    cursor: pointer;
}

.pen{
    color: green;
    margin-left: 5px;
    transform: scale(0.8);
}

.pen:hover{
    color: white;
    background-color: green;
    border: solid 0px green;
    border-radius: 50%;
    cursor: pointer;
}