.formulario-completo{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: silver;
}

label{
    text-decoration: underline;
    font-size: large;
}

input{
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
}
.for-pro-control{
    display: flex;
    flex-direction: column;
}

.descripcion{
    order: 1;
}

.enviar{
    order: 2;
}