html{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

body{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0;
}


