*{
    --anchura2: 20rem;
}

.container{
    max-height: var(--anchura2);
    max-width: CALC(VAR(--anchura2)*1.4);
    overflow: hidden;
    position: relative;
    background-color: silver;
}

.ancla{
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: black;
}

.cont2{
    height:var(--anchura2);
    width: 100%;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: stretch;
}

.foto{

    flex-shrink: 1;
    overflow: hidden;
}

h2{
    text-align: center;
    flex-shrink: 6;
    padding: 0;
    margin: 0;
    font-size: 1em;
}

p{
    text-align: justify;
    margin-left: 2rem;
    flex-shrink: 4;
    padding: 0;
    margin: 0;
    font-size: 0.8em;
}

img{
    max-width: 100%;
}

.menuadm{
    position: absolute;
    top: 10px;
    right: 5px;
}

.cruz{
    color: red;
}

.cruz:hover{
    color: white;
    background-color: red;
    border: solid 0px red;
    border-radius: 50%;
    cursor: pointer;
}

.pen{
    color: green;
    margin-left: 5px;
    transform: scale(0.8);
}

.pen:hover{
    color: white;
    background-color: green;
    border: solid 0px green;
    border-radius: 50%;
    cursor: pointer;
}