<header>
    <div id="log-in-contenedor">
        <div id="logo-arg">
            <img src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1666227203/Dise%C3%B1o%20sin%20t%C3%ADtulo%20%2817%29.png" alt="Logo argentina prograa 3.0 + inti argentina">
        </div>
        <form action="#" id="log-in" method="#" target="_blank" #f="ngForm" (ngSubmit)="login()" novalidate>
            <label form="log-in" id="etiqueta-login">
                <input type="text" 
                    id="nombreUsuario" 
                    name="nombreUsuario" 
                    placeholder="Introdusca su Usuario..." 
                    [(ngModel)]="nombreUsuario" 
                    required  
                    *ngIf="!isLogged">
                <input type="password" 
                    name="password" 
                    id="password" 
                    placeholder="Contaseña..." 
                    [(ngModel)]="password"
                    required
                    *ngIf="!isLogged">
                <input type="submit" 
                    value='{{!isLogged ? "Login" : "Logout" }}' 
                    id="boton" 
                    name="entrar">
            </label>
        </form>
    </div>
</header>

<aside id="aside-contenedor">
    <ul id="aside-lista">
        <a routerLink="/experiencias">
            <li class="articulo-lista">Trabajos</li>
        </a>
        <a routerLink="/habilidades">
            <li class="articulo-lista">Habilidades</li>
        </a>
        <a routerLink="/home">
            <li class="articulo-lista">Home</li>
        </a>
        <a routerLink="/capacitaciones">
            <li class="articulo-lista">Capacitaciones</li>
        </a>
        <a routerLink="/proyectos">
            <li class="articulo-lista">Proyectos</li>
        </a>
    </ul>
</aside>