.habilidaes{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
}

app-form-hab{
    border: 2px solid rgb(44, 75, 141);
    width: 95%;
    justify-self: flex-start;
}

#contenedor-habilidades{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    justify-content: space-evenly;
    height: max-content;
}

app-tarjeta-habilidad{
    overflow: hidden;
}
/*
#prehab{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#Habilidades{
    margin-left: 2rem;
    background-color: var(--colordefondo);
    height: 17rem;
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 300px;
}

#Habilidades h1{
    color: var(--colorcontraste, silver);
    margin-left: 0;
}


.formulario-completo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.formulario-completo div{
    margin: 10px;
}
*/