<div class="cont">
<div class="contenedor-cap">
    <h2 class="titulo-cap">{{tarjetas.titulo}}</h2>
    <p class="descripcion-cap">{{tarjetas.descripcion}}</p>
    <div class="contendor-institucion">
        <div class="contenedor-logo-cap">
            <img [src]="tarjetas.urlLogo" alt="Logo Itec Rafaela" class="logo-cap">
        </div>
        <h3 class="institucion-cap">{{tarjetas.formador}}</h3>
    </div>   
    <div class="delete">
        <fa-icon [icon]="faTimes" class="cruz"
        (click)="borrarCap(tarjetas)"
        *ngIf="status"></fa-icon>
    </div> 
</div>

</div>